*{
	margin:0;
	padding:0;
}

#container{
	width:90%;
	margin:auto;
	border: 2px dotted;
	background-color: #f6f6f6;
	background-image: url("EExtRip.png");
	background-repeat:no-repeat;
	background-position:right top;
	background-attachment: fixed;
}

h2{text-align:center;}

.col{
	width:29.5%;
	margin:10px;
	padding:10px;
	float:left;
}

.col1{
	border-style: solid dashed;
	border-width:2px;
	background-image: url("bg1.jpg");
}

.col2{
	background-color:lightblue;
	border-radius: 7px;
	box-shadow: 3px 3px 5px 2px grey;
}

.col2 p{
	border: 1px solid;
	margin:10px;
	line-height:50px;
}

.col3{background-color:rgba(0,0,0,.3);}

#col4{
	width:96%;
	clear:left;
	margin:10px;
	background: linear-gradient(#ABA172,#FFF);
}